body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
}
header {
    background-color: #f5f5dc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    color: #5f2b2b;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
nav ul li {
    position: relative;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #685050;
    padding: 10px 0;
    min-width: 180px;
}
.submenu li {
    padding: 5px 15px;
}

.submenu li a {
    color: #7c5959;
    font-weight: normal;
}
.dropdown:hover .submenu {
    display: block;
}

.logo {
    font-weight: bold;
    font-size: 21px;
}
nav {
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: #5f2b2b;
    font-weight: bold;
}
#menu-toggle {
    display: none;
}

.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.hero {
    background-color: #f5f5dc;
    width: 100%;
  height: 80vh;
  background-image: url('../images/kkk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    color: rgb(173, 74, 90);

}

.main h2 {
    text-align: left;
    color: #b56767;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.main p {
    line-height: 1.5;
    color: #000000;
    text-align: left;
    font-size : 15px;
}
@font-face {
    font-family: 'Myfont';
    src: url('../fonts/Unbounded-Bold.ttf');
    font-weight: normal;
}
footer {
    background-color: #855465;
    padding: 50px;
    text-align: center;
    color: #b3a3a9;
}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav a {
        margin: 10px 0;
    }

    #menu-toggle:checked + .burger + nav {
        display: flex;
    }

    .burger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hero {
        font-size: 28px;
        height: 300px;
        padding: 0 10px;
    }

    .main {
        margin: 20px 10px;
        padding: 15px;
    }
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
        width: 100%;
    }

    #menu-toggle:checked + .burger + nav ul {
        display: flex;
    }

    .submenu {
        position: static; 
        display: none;
        padding-left: 15px;
    }

    .dropdown input {
        display: none; 
    }

    .dropdown:hover .submenu {
        display: none; 
    }
}
.menu, .submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #5f2b2b;
}

.menu > li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.menu a {
    text-decoration: none;
    color: #b56767;
    font-weight: bold;
    padding: 5px 10px;
    display: block;
    font-size: 13px;
    font-family: 'Myfont';
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color:#f3dae6;
    min-width: 150px;
    z-index: 10;
}

.submenu li a {
    padding: 2px 8px;
    color: #b56767;
}

.dropdown:hover .submenu {
    display: block;
}
.aaa {
    padding: 20px;
}
#menu-toggle { display: none; }
.burger { display: none; font-size: 30px; cursor: pointer; }

@media (max-width: 768px){
    .menu { display: none; flex-direction: column; width: 100%; }
    #menu-toggle:checked + .burger + nav .menu { display: flex; }
    .burger { display: block; }
    .menu > li { display: block; margin-right: 0; }
    .submenu { position: static; display: none; padding-left: 15px; }
    .dropdown input { display: none; }
}